@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/** {*/
/*    @apply font-playfair-display*/
/*}*/

body {

    background: rgb(58, 59, 180);
    background: linear-gradient(90deg, rgba(58, 59, 180, 1) 23%, rgba(197, 29, 253, 1) 76%, rgba(252, 69, 121, 1) 100%);

}

.link-style {

    @apply flex h-8 w-32 cursor-pointer items-center justify-center rounded-2xl  bg-tiffanyBlue  text-center font-medium text-black duration-300 hover:bg-orange-500 hover:text-blue-50 focus:bg-orange-500 focus:text-blue-50
}

.info-shadow {
    -webkit-box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.40);
}